@import 'core/reset';
@import 'styles/header';
@import 'styles/filters/';
@import 'styles/cardList';
@import 'styles/cardDetail';

body {
  background-image: url("../images/fondo.jpg");
  width: 100%;
  height: 100%;
  background-size: cover; 
  background-position: center;
  font-family: "Bangers", system-ui;
};

a {
  text-decoration: none;
  color: #F6FAF0;
};